<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <h1>Historical Sites</h1>
        </header>

        <div class="links">
            <!-- <a href="index.html">Home</a> -->
            
            <!-- <a href="map">Map</a> -->
        </div>

        <main>
            <h2>
                Welcome!
            </h2>
            <p>Hello and welcome to the historical guide. There are several places to visit here in Calgary. 
                Let us start by taking a short survey to help make the guide specialized to your taste. However 
                if you just want a random guide, we have that option too. Just click on the option that you want.</p>
            <form action="/fetch/" method="post">
                <input type="submit" name="action" value="Random"/>
                <input type="submit" name="action" value="Survery"/>
             </form>
        </main>
    
    </body>
</html>